body{
    margin: 0;
    font-family: 'Jost', sans-serif;
    
}
.navA{
	
    padding: 24px 64px;
    text-decoration: none;
    color: whitesmoke;
    
}

.navA:hover{
    background: #95c0a3;
    color: black;
}

nav{
    display: flex;  
    justify-content: space-around;
    background-color:  #465f4e;
    align-items: center;
}

img{    
    height: 82px;
    width: 80px;
}
.shadow {
    box-shadow: 0px 0px 35px -11px rgba(184, 184, 184, 1);
    border-radius: 20px;
    overflow: hidden;
    padding: 14px 64px;
    margin-bottom: 64px;
}

.shadow h4 {
    font-size: 18px;
}

.line1 {
    padding-top: 50px;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.line1 img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-color: black;
}

.line1 button {
    border-radius: 6px;
    background-color: #465f4e;
    border: none;
    padding: 10px 40px;
    color: white;
    
    align-items: center;
}

.line1 button:hover {
    background: #95c0a3;color: black;
}